<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Soft Etincelle
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}" >
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		
	</head>
	<body>
	


		<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
			<div class="container-fluid">
			<a class="logo navbar-brand" href="{{ path('app_accueil') }}">Soft Etincelle</a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">

						<a class="nav-link active" aria-current="page" href="{{ path('app_accueil') }}">Accueil</a>

						<a class="nav-link" href="{{ path('services') }}">Services</a>

						<a class="nav-link" href="{{ path('tarifs') }}">Tarifs</a>

						<a class="nav-link" href="{{ path('devis') }}">Devis</a>

						<a class="nav-link" href="{{ path('contact') }}">Contact</a>

						{% if is_granted('ROLE_ADMIN') %}

							<a class="nav-link" href="{{ path('backoffice') }}">Utilisateurs</a>


							<a class="nav-link" href="{{ path('admin_devis') }}">Mes demandes</a>

						{% endif %}
						{% if app.user %}

							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>

						{% else %}

							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>

							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>

						{% endif %}
					</div>

				</div>
			</div>
		</nav>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
		<!-- Footer  -->

		<footer class="text-center text-lg-start text-light pt-2" style="background:#0077b6 ; margin-top: 30vh;">
			<!-- Section: Social media -->

			<!-- Section: Links  -->
				<section class=""> <div
					class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div
						class="row mt-3 align-items-center">
						<!-- Grid column -->
						<div
							class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="fw-bold mb-4" id="nomSite">
								Soft Etincelle
							</h6>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Liens
							</h6>
							<p>
								<a href="{{ path('services') }}" class="text-reset">Services</a>
							</p>
							<p>
								<a href="{{ path('tarifs') }}" class="text-reset">Tarifs</a>
							</p>
							<p>
								<a href="{{ path('contact') }}" class="text-reset">Contact</a>
							</p>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6
								class="text-uppercase fw-bold mb-4">{# a trouver #}
							</h6>
							<p>
								<a href="{{path('mentions')}}" class="text-reset">Mentions legales</a>
							</p>
							<p>
								<a href="{{path('politique')}}" class="text-reset">Politique de confidentialité</a>
							</p>

							<p>
								<a href="{{path('cgu')}}" class="text-reset">CGU</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
							<p>
								<i class="fas fa-home me-3 text-light"></i>22 rue de Ladoucette, Metz</p>
							<p>
								<i class="fas fa-envelope me-3 text-light">
									abderrahmanesofia92@gmail.com</i>

							</p>
							<p>
								<i class="fas fa-phone me-3 text-light"></i>
								+ 33 783794485</p>

						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<!-- Copyright -->
			<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
				© 2022 -
				<a class="text-reset fw-bold" href="{{path('app_accueil')}}">Soft Etincelle</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>
